.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.aqua {
    background: aquamarine;
}

.aqua-text {
    color: #303630;
}