.pageError {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.error {
    margin-top: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background: rgba(33, 33, 33, .3) url("https://css-tricks.com/wp-content/themes/CSS-Tricks-18/images/ripped.jpg") center;
    background-size: cover;
    border-radius: 50%;
}