.SuperEditableSpan {
    display: flex;
    align-items: center;
    opacity: 0.8;
    height: 29px;
}

.SuperEditableSpan:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    background: url(pencil.svg);
    background-size: 25px;
}