.SuperEditableSpan {
    display: flex;
    align-items: center;
    opacity: 0.8;
}

.SuperEditableSpan:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    background: url(pencil.svg);
    background-size: 20px;
}