.navBar {
    min-height: 30px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.navBar .link {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding: 10px 10px;
    background: #98fb98;
    transition: 0.3s ease;
}
.navBar .link.active {
    background: pink;
}
.navBar .link:hover {
    background: #e1ff5a;
}

.link + .link {
    margin-left: 10px;
}
/**/
.animateNavBar {
    display: flex;
    transition: 1s ease;
    transform: translate(250px);
}
.animateNavBar:hover {
    right: 0;
    transform: translate(-6px);
}